<div class="copyright">
    <ul>
        <li>公司名称：<?php echo isset($sysinfo) ?$sysinfo[0]['corporation']:'' ?></li>
        <li>公司地址：<?php echo isset($sysinfo) ?$sysinfo[0]['address']:'' ?></li>
        <li>公司邮编：<?php echo isset($sysinfo) ?$sysinfo[0]['postcode']:'' ?></li>
        <li>联系电话：<?php echo isset($sysinfo) ?$sysinfo[0]['phone']:'' ?></li>
        <li>值班电话：<?php echo isset($sysinfo) ?$sysinfo[0]['servphone']:'' ?></li>
        <li>公司主页：<?php echo isset($sysinfo) ?$sysinfo[0]['url']:'' ?></li>
        <li><a href="<?php echo site_url('admin') ?>">管理登录</a> </li>
    </ul>

</div>