<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/style/admin/css/css.css') ?>">
    <title><?php echo isset($title)?$title:''?></title>
</head>
<body>
<div class="flash_side">
    <div class="con">
          <form name="form1" id="form1" method="post" action="<?php echo site_url('admin/insertclient')?>">
           <ul>
                <li>
                    客户姓名:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="clientName" value="<?php echo set_value('clientName')?>">
                </li>
               <?php echo form_error('clientName', '<li class="err">', '</li>') ?>
               <li>
                   客户性别:
                   <select name="sex" style="border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <option value="男" selected>男</option>
                       <option value="女">女</option>
                   </select>
               </li>
               <li>
                   所在省份:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="province" value="<?php echo set_value('province')?>">
               </li>
               <?php echo form_error('province', '<li class="err">', '</li>') ?>
               <li>
                   所在城市:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="city" value="<?php echo set_value('city')?>">
               </li>
               <?php echo form_error('city', '<li class="err">', '</li>') ?>
               <li>
                   通讯地址:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 300px;height: 25px;margin-top: 5px" name="address" value="<?php echo set_value('address')?>">
               </li>
               <?php echo form_error('address', '<li class="err">', '</li>') ?>
               <li>
                   联系电话:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 200px;height: 25px;margin-top: 5px" name="phoneNo" value="<?php echo set_value('phoneNo')?>">
               </li>
               <?php echo form_error('phoneNo', '<li class="err">', '</li>') ?>
            </ul>
            <div style="width:420px;height: 30px;line-height: 30px;padding-top: 5px;background-color: #3B96CB;margin-left: 65px;clear: both;text-align: center">
                <input type="submit" value="提交">
            </div>
        </form>
    </div>
</div>