<div class="flash_side">
<div class="con">
    <ul style="width: 830px;height: auto;overflow: auto ">
        <li >
            <span style="width: 60px;background-color: #4F97E9;">客户姓名</span>
            <span style="width: 30px;background-color: #4F97E9;">性别</span>
            <span style="width: 60px;background-color: #4F97E9;">省份</span>
            <span style="width: 60px; background-color: #4F97E9">城市</span>
            <span style="width: 300px;background-color: #4F97E9">通讯地址</span>
            <span style="width: 150px;background-color: #4F97E9">联系电话</span>
            <span style="width: 70px;background-color: #4F97E9;text-align: center"><a href="<?php echo site_url('admin/addclient') ?>">新增</a></span>
        </li>
        <?php foreach($info as $item):?>
        <li>
            <span style="width: 60px;"><?php echo $item['clientName'] ?></span>
            <span style="width: 30px"><?php echo $item['sex'] ?></span>
            <span style="width: 60px"><?php echo $item['province'] ?></span>
            <span style="width: 60px"><?php echo $item['city'] ?></span>
            <span style="width: 300px"><?php echo $item['address'] ?></span>
            <span style="width: 150px"><?php echo $item['phoneNo'] ?></span>
            <span >
                <a href="<?php echo site_url('admin/editclient/'.$item['rowid']) ?>">编辑</a>&nbsp;&nbsp;
                <a href="javascript:if(confirm('确实要删除该记录吗?')) location='<?php echo site_url('admin/deleterecord/'.$tablename.'/'.$item['rowid']); ?>'" >删除</a>&nbsp;
            </span>
        </li>
        <?php endforeach;?>
        <li class="rec">
            <div class="total">共 <?php echo $total_rows ?> 条 显示第 <?php echo isset($cur_page) ?$cur_page:1 ?> 页 <?php echo $offset ?> 条</div>
            <div class="pages"><?php echo $links ?></div>
        </li>
    </ul>
</div>
    <div style="width: 800px;height: 30px;background-color: #4F97E9">
        <ul style="width:auto;height: auto;overflow: auto ">
            <form name="form1" method="post" action="<?php echo site_url('admin/clients') ?>">
                <li style="height: 30px;line-height: 30px">
                    <span style="width: 60px;background-color: #4F97E9;">客户姓名:<input type="text" style="border: 1px solid;border-color: #3b4249;width: 60px;height: 16px;line-height: 16px" name="clientName" value="<?php echo set_value('clientName') ?>"></span>
                    <span style="width: 60px;background-color: #4F97E9;">省份:<input type="text" style="border: 1px solid;border-color: #3b4249;width: 60px;height: 16px;line-height: 16px" name="province" value="<?php echo set_value('province') ?>"></span>
                    <span style="width: 60px; background-color: #4F97E9">城市:<input type="text" style="border: 1px solid;border-color: #3b4249;width: 60px;height: 16px;line-height: 16px" name="city" value="<?php echo set_value('city') ?>"></span>
                    <span style="width: 60px;background-color: #4F97E9">联系电话:<input type="text" style="border: 1px solid;border-color: #3b4249;width: 100px;height: 16px;line-height: 16px" name="phoneNo" value="<?php echo set_value('phoneNo') ?>"></span>
                    <span style="width: 70px;background-color: #4F97E9;text-align: center"><input type="submit" name="submit" value="查找"></span>
                </li>
            </form>
        </ul>
    </div>
</div>