<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/style/admin/css/css.css') ?>">
    <script type="text/javascript" src="<?php echo base_url('assets/style/admin/js/jquery-1.7.2.min.js') ?>"></script>
    <title><?php echo isset($title)?$title:''?></title>
</head>
<body>
<div class="flash_side">
    <div class="con">
          <form name="form1" id="form1" method="post" action="<?php echo site_url('admin/updatedelivers')?>">
           <ul>
               <li>
                   所在省份:
                   <select name="province" id="province" style="width: 80px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                   </select>
               </li>
               <li>
                   所在城市:
                   <select name="city" id="city" style="width: 80px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                   </select>
               </li>
               <li>
                    客户名称:
                   <select name="clientName" id="clientName" style="width: 80px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                   </select>
                </li>
               <?php echo form_error('clientName', '<li class="err">', '</li>') ?>
               <li>
                   收货地址:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 300px;height: 25px;margin-top: 5px" name="address" id="address" value="<?php echo isset($record[0]['address'])?$record[0]['address']:set_value('address')?>">
               </li>
               <li>
                   联系电话:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 150px;height: 25px;margin-top: 5px" name="phoneNo" id="phoneNo" value="<?php echo isset($record[0]['phoneNo'])?$record[0]['phoneNo']:set_value('phoneNo')?>">**
               </li>
               <?php echo form_error('phoneNo', '<li class="err">', '</li>') ?>
               <li>
                   商品名称:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 150px;height: 25px;margin-top: 5px" name="goodsName" id="goodsName" value="<?php echo isset($record[0]['goodsName'])?$record[0]['goodsName']:set_value('goodsName')?>">**
               </li>
               <?php echo form_error('goodsName', '<li class="err">', '</li>') ?>
               <li>
                   商品单位:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 30px;height: 25px;margin-top: 5px" name="unit" id="unit" value="<?php echo isset($record[0]['unit'])?$record[0]['unit']:set_value('unit')?>">
               </li>
               <li>
                   商品单价:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 30px;height: 25px;margin-top: 5px" name="price" id="price" value="<?php echo isset($record[0]['price'])?$record[0]['price']:set_value('price')?>">
               </li>
               <li>
                   发货数量:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 50px;height: 25px;margin-top: 5px" name="quantity" id="quantity" value="<?php echo isset($record[0]['quantity'])?$record[0]['quantity']:set_value('quantity')?>">
               </li>
               <li>
                   发货金额:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 50px;height: 25px;margin-top: 5px" name="money" id="money" value="<?php echo isset($record[0]['money'])?$record[0]['money']:set_value('money')?>">
               </li>
               <li>
                   物流名称:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="logisticsName" id="logisticsName" value="<?php echo isset($record[0]['logisticsName'])?$record[0]['logisticsName']:set_value('logisticsName')?>">
               </li>
               <li>
                   运单号码:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 120px;height: 25px;margin-top: 5px" name="waybillNo" id="waybillNo" value="<?php echo isset($record[0]['waybillNo'])?$record[0]['waybillNo']:set_value('waybillNo')?>">
               </li>
               <li>
                   发货人员:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 80px;height: 25px;margin-top: 5px" name="deliveryMan" value="<?php echo isset($record[0]['deliveryMan'])?$record[0]['deliveryMan']:set_value('deliveryMan')?>">
               </li>
               <li>
                   发货日期:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 80px;height: 25px;margin-top: 5px" name="deliverDate" value="<?php echo isset($record[0]['deliverDate'])?$record[0]['deliverDate']:set_value('deliverDate')?>">
               </li>
               <li>
                   发货状态:<?php $status=isset($record[0]['status'])?$record[0]['status']:set_value('status0') ?>
                   <select name="status" style="border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                        <option value="1" <?php if($status==1) echo 'selected'?>>已发货</option>
                        <option value="0" <?php if($status==0) echo 'selected'?>>待发货</option>
                   </select>
                   <input type="hidden" name="status0" value="<?php echo isset($record[0]['status'])?$record[0]['status']:set_value('status0')?>">
               </li>
               <li>
                   备注信息:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 300px;height: 25px;margin-top: 5px" name="remark" value="<?php echo isset($record[0]['remark'])?$record[0]['remark']:set_value('remark')?>">
             </li>
            </ul>
              <div style="width:420px;height: 30px;line-height: 30px;padding-top: 5px;background-color: #3B96CB;margin-left: 65px;clear: both;text-align: center">
                  <input type="hidden" name="rowid" value="<?php echo isset($record[0]['rowid'])?$record[0]['rowid']:set_value('rowid')?>">
                  <input type="submit" value="提交">
              </div>
          </form>
    </div>
</div>

<div style="position:relative;">
    <span style="margin-left:100px;width:18px;overflow:hidden;">
    <select style="width:118px;margin-left:-100px;" onchange="this.parentNode.nextSibling.value=this.options[this.selectedIndex].text;">
        <option value="-1">请选择...</option>
        <option value="1">吾顷仰</option>
    </select>
    </span>
    <input type="text" style="width:100px;position:absolute;left:0px;" value="">
</div>



<form>
    <label for="searchKey" id="lbSearch">搜神马？</label> 这里label覆盖在文本框上，可以更好的控制样式
    <input id="searchKey" type="text" />
    <input type="submit" value="搜索" />
</form>
<script>
    $(function() {
        $('#searchKey').focus(function() {
            $('#lbSearch').text('');
        });
        $('#clientName').blur(function() {
            ajax(this.value)
        });
    })
</script>
<script>
    function ajax(value) {
        $.ajax({
            type:'POST',
            url: '<?php echo site_url("admin/getClientInfo")?>',
            data: 'clientName='+value,
            success: function(msg){
                var data=msg[0].rowid;
                $('#province').val(msg[0].province);
                $('#city').val(msg[0].city);
                $('#address').val(msg[0].address);
                $('#phoneNo').val(msg[0].phoneNo);

            },
            error:function(msg){
                alert('请求发生错误');
            }

        });
    }
</script>