<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/style/admin/css/css.css') ?>">
    <title><?php echo isset($title)?$title:''?></title>
</head>
<body>
<div class="flash_side">
    <div class="con">
          <form name="form1" id="form1" method="post" action="<?php echo site_url('admin/updateclient')?>">
           <ul>
                <li>
                    客户姓名:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="clientName" value="<?php echo isset($record[0]['clientName'])?$record[0]['clientName']:set_value('clientName')?>">**
                </li>
               <?php echo form_error('clientName', '<li class="err">', '</li>') ?>
               <li>
                   客户性别:
                   <select name="sex" style="border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <option value="男" <?php if($record[0]['sex']=='男') echo 'selected'?>>男</option>
                       <option value="女" <?php if($record[0]['sex']=='女') echo 'selected'?>>女</option>
                   </select>
               </li>
               <li>
                   所在省份:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="province" value="<?php echo isset($record[0]['province'])?$record[0]['province']:set_value('province')?>">**
               </li>
               <?php echo form_error('province', '<li class="err">', '</li>') ?>
               <li>
                   所在城市:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 100px;height: 25px;margin-top: 5px" name="city" value="<?php echo isset($record[0]['city'])?$record[0]['city']:set_value('city')?>">**
               </li>
               <?php echo form_error('city', '<li class="err">', '</li>') ?>
               <li>
                   通讯地址:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 300px;height: 25px;margin-top: 5px" name="address" value="<?php echo isset($record[0]['address'])?$record[0]['address']:set_value('address')?>">**
               </li>
               <?php echo form_error('address', '<li class="err">', '</li>') ?>
               <li>
                   联系电话:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 200px;height: 25px;margin-top: 5px" name="phoneNo" value="<?php echo isset($record[0]['phoneNo'])?$record[0]['phoneNo']:set_value('phoneNo')?>">**
               </li>
               <?php echo form_error('phoneNo', '<li class="err">', '</li>') ?>
               <li>
                   联系&nbsp;QQ:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 200px;height: 25px;margin-top: 5px" name="qq" value="<?php echo isset($record[0]['qq'])?$record[0]['qq']:set_value('qq')?>">
               </li>
               <li>
                   备注信息:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 400px;height: 25px;margin-top: 5px" name="remark" value="<?php echo isset($record[0]['remark'])?$record[0]['remark']:set_value('remark')?>">
               </li>
               <?php echo form_error('remark', '<li class="err">', '</li>') ?>
            </ul>
            <div style="width:420px;height: 30px;line-height: 30px;padding-top: 5px;background-color: #3B96CB;margin-left: 65px;clear: both;text-align: center">
                <input type="hidden" name="rowid" value="<?php echo isset($record[0]['rowid'])?$record[0]['rowid']:set_value('rowid')?>">
                <input type="submit" value="提交">
            </div>
        </form>
    </div>
</div>