<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/style/admin/css/css.css') ?>">
    <script type="text/javascript" src="<?php echo base_url('assets/style/admin/js/jquery-1.7.2.min.js') ?>"></script>
    <title><?php echo isset($title)?$title:''?></title>
</head>
<body>
<div class="flash_side">
    <div class="con">
          <form name="form1" id="form1" method="post" action="<?php echo site_url('admin/updatedelivers')?>">
           <ul>
               <li>
                   所在省份:
                   <select name="province" id="province" style="width: 80px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                        $provinceId=set_value('province');
                        if(strlen($provinceId)==0) $provinceName=$record[0]['province'];
                       foreach($province as $item):?>
                       <option value="<?php echo $item['provinceId']; ?>" <?php if($provinceId==$item['provinceId']) echo 'selected'?> <?php if($provinceName==$item['province']) echo 'selected'?>><?php echo $item['province'] ?></option>
                       <?php endforeach;?>
                   </select>
               </li>
               <li>
                   所在城市:
                   <select name="city" id="city" style="width: 80px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                       $city=set_value('city');
                       if(strlen($city)==0) $city=$record[0]['city'];
                       if(strlen($city)>0) {?>
                       <option value="<?php echo $city ?>" selected><?php echo $city ?></option>
                       <?php }?>
                   </select>
               </li>
               <li style="width: 190px">
                    客户名称:
                   <select name="clientName" id="clientName" style="width: 80px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                       $clientName=set_value('clientName');
                       if(strlen($clientName)==0) $clientName=$record[0]['clientName'];
                       if(strlen($clientName)>0) {?>
                                <option value="<?php echo $clientName ?>" selected><?php echo $clientName ?></option>
                           <?php }?>
                   </select>**<span id="span_sex" style="float: right; margin-top: 3px;color: #aa1111"><?php echo $record[0]['sex'] ?></span><input type="hidden" name="sex" id="sex" value="<?php echo isset($record[0]['sex'])?$record[0]['sex']:set_value('sex') ?>">
                </li> <?php echo form_error('clientName', '<li class="err">', '</li>') ?>
               <li>
                   收货地址:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 300px;height: 25px;margin-top: 5px" name="address" id="address" value="<?php echo isset($record[0]['address'])?$record[0]['address']:set_value('address')?>">**
               </li> <?php echo form_error('address', '<li class="err">', '</li>') ?>
               <li>
                   联系电话:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 150px;height: 25px;margin-top: 5px" name="phoneNo" id="phoneNo" value="<?php echo isset($record[0]['phoneNo'])?$record[0]['phoneNo']:set_value('phoneNo')?>">**
               </li>
               <?php echo form_error('phoneNo', '<li class="err">', '</li>') ?>
               <li>
                   商品名称:
                   <select name="goodsName" id="goodsName" style="width: 180px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                       $goodsName0=set_value('goodsName');
                       if(strlen($goodsName0)==0) $goodsName0=$record[0]['goodsName'];
                       $tmpStr='';
                       foreach($goods as $item):
                        $goodsName=$item['goodsName'];
                        if(!strpos($tmpStr,'/'.$goodsName.'/')){//排除掉重复的商品
                        $tmpStr.='/'.$goodsName.'/';
                        ?>
                       <option value="<?php echo $item['goodsName'] ?>"  <?php if($goodsName0==$item['goodsName']) echo 'selected'?>><?php echo $item['goodsName'] ?></option>
                       <?php } endforeach;?>
                   </select>**
               </li><?php echo form_error('goodsName', '<li class="err">', '</li>') ?>
               <li>
                   商品规格:
                   <select name="specification" id="specification" style="width: 100px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                       $specification=set_value('specification');
                       if(strlen($specification)==0) $specification=$record[0]['specification'];
                       if(strlen($specification)>0) {?>
                                <option value="<?php echo $specification ?>" selected><?php echo $specification ?></option>
                           <?php }?>
                   </select>
               </li>
               <li>
                   商品单位:
                   <select name="unit" id="unit" style="width: 50px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                       $unit=set_value('unit');
                       if(strlen($unit)==0) $unit=$record[0]['unit'];
                       if(strlen($unit)>0) {?>
                                <option value="<?php echo $unit ?>" selected><?php echo $unit ?></option>
                            <?php }?>
                   </select>
               </li>
               <li>
                   商品单价:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 30px;height: 25px;margin-top: 5px" name="price" id="price" value="<?php echo isset($record[0]['price'])?$record[0]['price']:set_value('price')?>">**
               </li> <?php echo form_error('price', '<li class="err">', '</li>') ?>
               <li>
                   发货数量:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 50px;height: 25px;margin-top: 5px" name="quantity" id="quantity" value="<?php echo isset($record[0]['quantity'])?$record[0]['quantity']:set_value('quantity')?>">**
               </li> <?php echo form_error('quantity', '<li class="err">', '</li>') ?>
               <li>
                   发货金额:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 50px;height: 25px;margin-top: 5px" name="money" id="money" value="<?php echo isset($record[0]['money'])?$record[0]['money']:set_value('money')?>">
               </li>
               <li>
                   物流名称:
                   <select name="logisticsName" id="logisticsName" style="width: 100px; border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                       <?php
                       $logisticsName0=set_value('logisticsName');
                       if(strlen($logisticsName0)==0) $logisticsName0=$record[0]['logisticsName'];
                       $tmpStr='';
                       foreach($logistics as $item):
                        $logisticsName=$item['logisticsName'];
                        if(!strpos($tmpStr,'/'.$logisticsName.'/')){//排除掉重复
                        $tmpStr.='/'.$logisticsName.'/';
                        ?>
                       <option value="<?php echo $item['logisticsName'] ?>" <?php if($logisticsName0==$item['logisticsName']) echo 'selected'?>><?php echo $item['logisticsName'] ?></option>
                       <?php } endforeach;?>
                   </select>
               </li>
               <li>
                   运单号码:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 120px;height: 25px;margin-top: 5px" name="waybillNo" id="waybillNo" value="<?php echo isset($record[0]['waybillNo'])?$record[0]['waybillNo']:set_value('waybillNo')?>">
               </li>
               <li>
                   发货人员:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 80px;height: 25px;margin-top: 5px" name="deliveryMan" value="<?php echo isset($record[0]['deliveryMan'])?$record[0]['deliveryMan']:set_value('deliveryMan')?>">
               </li>
               <li>
                   发货日期:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 80px;height: 25px;margin-top: 5px" name="deliverDate" value="<?php echo isset($record[0]['deliverDate'])?$record[0]['deliverDate']:set_value('deliverDate')?>">
               </li>
               <li>
                   发货状态:<?php $status=isset($record[0]['status'])?$record[0]['status']:set_value('status') ?>
                   <select name="status" style="border: 1px solid;border-color: #4F97E9;margin-left: -3px;margin-top: 5px">
                        <option value="1" <?php if($status==1) echo 'selected'?>>已发货</option>
                        <option value="0" <?php if($status==0) echo 'selected'?>>待发货</option>
                   </select>
               </li>
               <li>
                   备注信息:<input type="text" style="border: 1px solid;border-color: #4F97E9;width: 300px;height: 25px;margin-top: 5px" name="remark" value="<?php echo isset($record[0]['remark'])?$record[0]['remark']:set_value('remark')?>">
             </li>
            </ul>
              <div style="width:420px;height: 30px;line-height: 30px;padding-top: 5px;background-color: #3B96CB;margin-left: 65px;clear: both;text-align: center">
                  <input type="hidden" name="rowid" value="<?php echo isset($record[0]['rowid'])?$record[0]['rowid']:set_value('rowid')?>">
                  <input type="submit" value="提交">
              </div>
          </form>
    </div>
</div>


<script>
    $(function() {
        $('#province').blur(function() {
            setcity(this.value)
        });
        $('#city').blur(function() {
            setclient(this.value)
        });
        $('#clientName').blur(function() {
            if(this.value==''){
                $('#address').val('');
                $('#phoneNo').val('');
                return;
            }
            setclientInfo(this.value)
        });

        $('#clientName').change(function() {
            if(this.value==''){
                $('#address').val('');
                $('#phoneNo').val('');
                return;
            }
            setclientInfo(this.value)
        });

        $('#goodsName').blur(function() {
            if(this.value==''){
                $('#specification').empty();
                $('#unit').empty();
                $('#price').val('');
                return;
            }
            setSpecificationInfo(this.value)
        });

        $('#goodsName').change(function() {
            setSpecificationInfo(this.value)
        });

        $('#price').blur(function() {
            setMoneyValue();
        });

        $('#quantity').blur(function() {
            setMoneyValue();
        });
        $('#deliverDate').focus(function () {
            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth()+1;
            var day = date.getDate();
            var curdate=year+'-'+month+"-"+day;
            this.value=curdate;
        });

    })
</script>
<script>
    function setcity(value) {
        var tableName='citys';
        var where="fieldName=provinceId&value="+value;
        $.ajax({
            type:'POST',
            url: '<?php echo site_url("admin/getselectinfo")?>',
            data: 'tableName='+tableName+"&"+where,
            dataType: "json",
            success: function(msg){
                $("#city").empty();
                for (var i = 0; i < msg.length; i++) {
                    $("#city").append("<option value='"+msg[i].cityName+"'>" + msg[i].cityName + "</option>");
                }

            },
            error:function(msg){
                alert('请求发生错误');
            }
        });
    }
    function setclient(value) {
        var tableName='clients';
        var where="fieldName=city&value="+value;
        $.ajax({
            type:'POST',
            url: '<?php echo site_url("admin/getselectinfo")?>',
            data: 'tableName='+tableName+"&"+where,
            dataType: "json",
            success: function(msg){
                $("#clientName").empty();
                for (var i = 0; i < msg.length; i++) {
                    $("#clientName").append("<option value='"+msg[i].clientName+"'>" + msg[i].clientName + "</option>");
                }

            },
            error:function(msg){
                alert('请求发生错误');
            }
        });
    }

    function setclientInfo(value) {
        var tableName='clients';
        var where="fieldName=clientName&value="+value;
        $.ajax({
            type:'POST',
            url: '<?php echo site_url("admin/getselectinfo")?>',
            data: 'tableName='+tableName+"&"+where,
            dataType: "json",
            success: function(msg){
                var sex=msg[0].sex;
                if(sex=='女'){
                    sex='女士';
                }else {
                    sex='先生';
                }
                $('#address').val(msg[0].address);
                $('#phoneNo').val(msg[0].phoneNo);
                $('#span_sex').html(sex);
                $('#sex').val(sex);
            },
            error:function(msg){
                alert('请求发生错误');
            }
        });
    }
    function setSpecificationInfo(value) {
        var tableName='goods';
        var where="fieldName=goodsName&value="+value;
        $.ajax({
            type:'POST',
            url: '<?php echo site_url("admin/getselectinfo")?>',
            data: 'tableName='+tableName+"&"+where,
            dataType: "json",
            success: function(msg){
                $("#specification").empty();
                $("#unit").empty();
                //设置规格信息
                var tmpStr='';
                for (var i = 0; i < msg.length; i++) {
                    var specification=msg[i].specification;
                    if(tmpStr.indexOf('/'+specification+'/')==-1){
                        tmpStr+='/'+specification+'/';
                        $("#specification").append("<option value='"+specification+"'>" + specification + "</option>");
                    }
                }

                //设置单位信息
                var tmpStr='';
                for (var i = 0; i < msg.length; i++) {
                    var unit=msg[i].unit;
                    if(tmpStr.indexOf('/'+unit+'/')==-1){
                        tmpStr+='/'+unit+'/';
                        $("#unit").append("<option value='"+unit+"'>" + unit + "</option>");
                    }
                }


            },
            error:function(msg){
                alert('请求发生错误');
            }
        });
    }
    function setMoneyValue() {
        var price=parseFloat($('#price').attr('value'));//转成浮点数
        var quantity=parseFloat($('#quantity').attr('value'));
        var money=price*quantity;
        $('#money').val(money);
    }


</script>