<?php
     $pic_0=base_url('assets/advs/flash1.jpg');
     $pic_1=base_url('assets/advs/flash2.jpg');
     $pic_2=base_url('assets/advs/flash3.jpg');
    ?>

<div class="flash_side">
    <div class="con" >
        <ul>
            <li class="upload">
                <span>

            </span>
            </li>
            <li>
                <form enctype="multipart/form-data" method="post" name="upform" action="<?php echo site_url('admin/upload/1')?>">
                第一张图片:<input name="upfile" type="file" size="1" style="font-size:10px"><input type="submit" value="上传" style="font-size:14px">
                </form>
            </li>
            <li>
                <img src="<?php echo $pic_0?>" width="1000" height="280">
            </li>
            <li>
                <form enctype="multipart/form-data" method="post" name="upform" action="<?php echo site_url('admin/upload/2')?>">
                    第二张图片:<input name="upfile" type="file" size="1" style="font-size:10px"><input type="submit" value="上传" style="font-size:14px">
                </form>
            </li>
            <li>
                <img src="<?php echo $pic_1?>" width="1000" height="280">
            </li>
            <li>
                <form enctype="multipart/form-data" method="post" name="upform" action="<?php echo site_url('admin/upload/3')?>">
                    第三张图片:<input name="upfile" type="file" size="1" style="font-size:10px"><input type="submit" value="上传" style="font-size:14px">
                </form>
            </li>
            <li>
                <img src="<?php echo $pic_2?>" width="1000" height="280">
            </li>
        </ul>
    </div>
</div>
