<div class="flash_side">
<div class="con">
    <ul style="width: 900px;height: auto;overflow: auto ">
        <li >
            <span style="width: 100px;background-color: #4F97E9;">物流名称</span>
            <span style="width: 200px;background-color: #4F97E9;">物流地址</span>
            <span style="width: 60px;background-color: #4F97E9;">联系人</span>
            <span style="width: 120px; background-color: #4F97E9">联系电话</span>
            <span style="width: 200px; background-color: #4F97E9">备注信息</span>
            <span style="width: 70px;background-color: #4F97E9;text-align: center"><a href="<?php echo site_url('admin/addlogistics') ?>">新增</a></span>
        </li>
        <?php foreach($info as $item):?>
        <li>
            <span style="width: 100px;"><?php echo $item['logisticsName'] ?></span>
            <span style="width: 200px"><?php echo $item['address'] ?></span>
            <span style="width: 60px"><?php echo $item['contact'] ?></span>
            <span style="width: 120px"><?php echo $item['phoneNo'] ?></span>
            <span style="width: 200px"><?php echo $item['remark'] ?></span>
            <span style="width: 70px;"><a href="<?php echo site_url('admin/editlogistics/'.$item['rowid']) ?>">编辑</a>&nbsp;&nbsp;<a href="<?php echo site_url('admin/deleterecord/'.$tablename.'/'.$item['rowid']) ?>">删除</a> </span>
        </li>
        <?php endforeach;?>
        <li class="rec">
            <div class="total">共 <?php echo $total_rows ?> 条 显示第 <?php echo isset($cur_page) ?$cur_page:1 ?> 页 <?php echo $offset ?> 条</div>
            <div class="pages"><?php echo $links ?></div>
        </li>
    </ul>
</div>
</div>