<div class="flash_side">
<div class="con">
    <ul>
        <li class="rec head">
            <div class="title">标题</div>
            <div class="date">发表时间</div>
            <div class="action">操作</div>
        </li>
        <?php foreach($info as $item):?>
        <li class="rec">
            <span class="title"><a href="<?php echo site_url('admin/editnews/'.$item['rowid']) ?>"><?php echo $item['title']?></a> </span>
            <span class="date"><?php echo date('Y-m-d',$item['modDate'])?></span>
            <span class="date"><a href="<?php echo site_url('admin/deletenews/'.$item['rowid']) ?>">删除</a>&nbsp;&nbsp;<a href="<?php echo site_url('admin/addnews') ?>">新增</a> </span>
        </li>
        <?php endforeach;?>
        <li class="rec">
            <div class="total">共 <?php echo $total_rows ?> 条 显示第 <?php echo isset($cur_page) ?$cur_page:1 ?> 页 <?php echo $offset ?> 条</div>
            <div class="pages"><?php echo $links ?></div>
        </li>
    </ul>
</div>
</div>