<?php
    $rowid         =$sysinfo[0]['rowid'];
    $address    =$sysinfo[0]['address'];
    $url        =$sysinfo[0]['url'];
    $corporation=$sysinfo[0]['corporation'];
    $phone      =$sysinfo[0]['phone'];
    $servphone  =$sysinfo[0]['servphone'];
    $postcode   =$sysinfo[0]['postcode'];
    ?>

<div class="flash_side">
    <div class="con" >
        <ul>
        <form name="form1" method="post" action="<?php echo site_url('admin/update_sysinfo') ?>">
            <li>公司名称:<input type="text" name="corporation" class="admin_input_normal" value="<?php echo $corporation ?>"></li>
            <li>公司地址:<input type="text" name="address" class="admin_input_normal" value="<?php echo $address ?>"><input type="hidden" name="rowid" value="<?php echo $rowid?>"></li>
            <li>公司网址:<input type="text" name="url" class="admin_input_normal" value="<?php echo $url ?>"></li>
            <li>公司电话:<input type="text" name="phone" class="admin_input_normal" value="<?php echo $phone ?>"></li>
            <li>值班电话:<input type="text" name="servphone" class="admin_input_normal" value="<?php echo $servphone ?>"></li>
            <li>公司邮编:<input type="text" name="postcode" class="admin_input_normal" value="<?php echo $postcode ?>"></li>
            <li><input type="submit" value="提交"></li>
        </form>
        </ul>
    </div>
</div>
