<div class="con">
    <div class="con_left">
        <div class="top">
            <div class="gsjj">
                <div class="gsjj_title">
                    <ul>
                        <li class="left">公司简介</li>
                        <li class="right"></li>
                    </ul>
                </div>
                <div class="gsjj_pic">
                    <img src="<?php echo base_url('assets/images/'.$sysinfo[0]['profile_pic']) ?>" alt="公司简介"width="272" height="86">

                </div>
                <div class="gsjj_con">
                    <?php echo chinesesubstr($sysinfo[0]['profile'],1,350)?>......<a href="<?php echo site_url('home/display/sysinfo/'.$sysinfo[0]['rowid']) ?>"> 更多>></a>
                </div>

            </div>
            <div class="xwdt">
                <div class="xwdt_title">
                    <ul>
                        <li class="left">新闻动态</li>
                        <li class="right"></li>
                    </ul>
                </div>
                <div class="gszz_pic">
                    <img src="<?php echo base_url('assets/images/gszz.gif') ?>" alt="新闻动态">

                </div>
                <div class="gsjj_con">
                    <h1 style="color: #00a2d4;font-size: 14px;">黑龙江省高新技术企业</h1>
                    <p>2015年10月，我公司正式成为黑龙省高新技术企业，使企业跨入了一个崭新的行列！</p>
                </div>
                <div class="xwdt_list">
                    <ul>
                        <?php foreach($news as $item):?>
                        <li>
                            <ul>
                                <li class="rec-left"><a href="<?php echo site_url('home/displayinfo/'.$item['rowid']) ?>"><?php echo $item['title']?></a> </li>
                                <li class="rec-right"><?php echo date('Y-m-d',$item['modDate'])?></li>
                            </ul>
                        </li>
                        <?php endforeach; ?>
                        <li>
                            <ul>
                                <li class="rec-left"></li>
                                <li class="rec-right"><a href="<?php echo site_url('home/news') ?>"> 更多>></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="middle">
            <ul>
                <li class="left">产品展示</li>
                <li class="right"><a href="#"> 更多>></a></li>
            </ul>
            <div class="product-show">
                <div id=moov>
                    <div id=inmoov>
                        <div id=moov1>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209115846175.jpg')?>" width=165 height=130><br>发明专利证书</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209110434627.jpg')?>" width=165 height=130><br>实用新型专利证书6</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209110410967.jpg')?>" width=165 height=130><br>实用新型专利证书5</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209110342308.jpg')?>" width=165 height=130><br>实用新型专利证书4</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209110306849.jpg')?>" width=165 height=130><br>实用新型专利证书3</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209110229706.jpg')?>" width=165 height=130><br>实用新型专利证书2</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209110155665.jpg')?>" width=165 height=130><br>实用新型专利证书1</span>
                            <span class=xunhuan><img src="<?php echo base_url('assets/images/marquee01/20151209105935602.jpg')?>" width=165 height=130><br>发明专利证书</span>
                        </div>
                        <div id=moov2>

                        </div>
                        <SCRIPT>
                            <!--
                            var speed=30; //数字越大速度越慢
                            var tab=document.getElementById("moov");
                            var tab1=document.getElementById("moov1");
                            var tab2=document.getElementById("moov2");
                            tab2.innerHTML=tab1.innerHTML;
                            function Marquee(){
                                if(tab2.offsetWidth-tab.scrollLeft<=0)
                                    tab.scrollLeft-=tab1.offsetWidth
                                else{
                                    tab.scrollLeft++;
                                }
                            }
                            var MyMar=setInterval(Marquee,speed);
                            tab.onmouseover=function() {
                                clearInterval(MyMar)
                            };
                            tab.onmouseout=function() {
                                MyMar=setInterval(Marquee,speed)
                            };
                            -->
                        </SCRIPT>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <li class="left">精选案例</li>
                <li class="right"><a href="#"> 更多>></a></li>
            </ul>
            <div class="selected-cases">
                <div id=moovk>
                    <div id=inmoovk>
                        <div id=moovk1>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150417041340839.jpg')?>" width=165 height=130></a><br><a href="#">黑龙江九鼎酵母有限公司</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150417040755242.jpg')?>" width=165 height=130></a><br><a href="#">罗洋隆门铁合金（泰国）有限公司</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150410084435660.jpg')?>" width=165 height=130></a><br><a href="#">大庆太和石油化工科技有限公司</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150409015536316.jpg')?>" width=165 height=130></a><br><a href="#">工业废水解决方案</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150409124718977.jpg')?>" width=165 height=130></a><br><a href="#">食品发酵行业废水解决方案</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150409122423606.jpg')?>" width=165 height=130></a><br><a href="#">制药工业废水解决方案</a></span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150409094436409.jpg')?>" width=165 height=130></a><br><a href="#">成都华气能源工程有限公司</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150402054453730.jpg')?>" width=165 height=130></a><br><a href="#">大庆柏盛生物科技有限公司</a></span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150402054341717.jpg')?>" width=165 height=130></a><br><a href="#">广东富味制果厂有限公司</a>
                            </span>
                            <span class=xunhuan>
                                <a href="#"><img src="<?php echo base_url('assets/images/marquee02/20150402054029221.jpg')?>" width=165 height=130></a><br><a href="#">甘肃沃尔达生物技术有限公司</a>
                            </span>
                        </div>
                        <div id=moovk2>

                        </div>
                        <script>
                            <!--
                            var speed=30; //数字越大速度越慢
                            var tabk=document.getElementById("moovk");
                            var tabk1=document.getElementById("moovk1");
                            var tabk2=document.getElementById("moovk2");
                            tabk2.innerHTML=tabk1.innerHTML;
                            function Marqueek(){
                                if(tabk2.offsetWidth-tabk.scrollLeft<=0)
                                    tabk.scrollLeft-=tabk1.offsetWidth
                                else{
                                    tabk.scrollLeft++;
                                }
                            }
                            var MyMark=setInterval(Marqueek,speed);
                            tabk.onmouseover=function() {
                                clearInterval(MyMark)
                            };
                            tabk.onmouseout=function() {
                                MyMark=setInterval(Marqueek,speed)
                            };
                            -->
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="con_right">
        <div class="deliver-title">
            <ul>
                <li style="width: 60px;height: 30px;line-height:30px;background-color: #0767b1;text-align: center">最近发货</li>
                <li style="width: 40px;height: 30px;line-height: 30px;text-align: center;float: right"><a href="#"> 更多>></a></li>
            </ul>
        </div>
        <div class="deliver-list">
            <div id=mov>
                <div id=inmov>
                    <div id=mov1>
                        <ul>
                            <li><a href="#">黑龙江南岔李先生、电话:158******22酒曲已发出</a> </li>
                            <li><a href="#">广东阳春黄女士、电话:135******77酒曲已发出</a> </li>
                            <li><a href="#">吉林榆树任先生、电话:187******22酒曲已发出</a> </li>
                            <li><a href="#">江苏南通金先生、电话:138******87酒曲已发出</a> </li>
                            <li><a href="#">辽宁首山张先生、电话:158******45酒曲已发出</a> </li>
                            <li><a href="#">江苏如皋王先生、电话:189******98酒曲已发出</a> </li>
                            <li><a href="#">山东乐陵韦先生、电话:150******42酒曲已发出</a> </li>
                            <li><a href="#">青海西宁张先生、电话:139******37酒曲已发出</a> </li>
                            <li><a href="#">河北元氏李先生、电话:177******76酒曲已发出</a> </li>
                            <li><a href="#">黑龙江依安杨先生、电话:132******95酒曲已发出</a> </li>
                            <li><a href="#">河北河间胡先生、电话:158******57酒曲已发出</a> </li>
                            <li><a href="#">山西晋中常先生、电话:138******03酒曲已发出</a> </li>
                            <li><a href="#">黑龙江依安张先生、电话:170******88酒曲已发出</a> </li>
                            <li><a href="#">海南昌江符先生、电话:188******27酒曲已发出</a> </li>
                            <li><a href="#">辽宁金州邱先生、电话:153******39酒曲已发出</a> </li>
                            <li><a href="#">黑龙江香兰孙先生、电话:158******39酒曲已发出</a> </li>
                            <li><a href="#">黑龙江浩良河于先生、电话:187******00酒曲已发出</a> </li>
                            <li><a href="#">吉林扶余金先生、电话:138******01酒曲、白酒净化器已发出</a> </li>
                            <li><a href="#">河北黄骅程先生、电话:133******11酒曲已发出</a> </li>
                            <li><a href="#">黑龙江依安田先生、电话:133******72酒曲已发出</a> </li>
                            <li><a href="#">黑龙江通江赵先生、电话:187******99酒曲已发出</a> </li>
                            <li><a href="#">黑龙江兰西陈先生、电话:138******85酒曲已发出</a> </li>
                            <li><a href="#">吉林镇赉时先生、电话:130******88酒曲、白酒净化器已发出</a> </li>
                            <li><a href="#">吉林长春惠先生、电话:135******64酒曲已发出</a> </li>
                            <li><a href="#">山东金乡李先生、电话:159******88酒曲已发出</a> </li>
                            <li><a href="#">内蒙古小二沟黄先生、电话:155******52酒曲已发出</a> </li>
                            <li><a href="#">吉林梅河范先生、电话:130******88酒曲、白酒净化器、酒基已发出</a> </li>
                            <li><a href="#">福建仙游林先生、电话:131******38酒曲已发出</a> </li>
                            <li><a href="#">黑龙江伊春王先生、电话:183******91酒曲已发出</a> </li>
                            <li><a href="#">河南获嘉卜先生、电话:132******64酒曲已发出</a> </li>
                            <li><a href="#">四川攀枝花黄先生、电话:134******19酒曲已发出</a> </li>
                            <li><a href="#">北京通州王先生、电话:184******53酒曲已发出</a> </li>
                            <li><a href="#">福建政和阿先生、电话:133******85酒曲已发出</a> </li>
                            <li><a href="#">天津大港先生、电话:138******17酒基已发出</a> </li>
                            <li><a href="#">黑龙江双城丛先生、电话:150******44酒曲已发出</a> </li>
                            <li><a href="#">吉林安广段先生、电话:136******48酒曲已发出</a> </li>
                            <li><a href="#">江苏滨海王先生、电话:182******60酒曲已发出</a> </li>
                            <li><a href="#">吉林辽源谢先生、电话:131******82酒曲已发出</a> </li>
                            <li><a href="#">黑龙江桃山黄先生、电话:139******98酒曲已发出</a> </li>
                            <li><a href="#">吉林公主岭黄先生、电话:138******21酒曲已发出</a> </li>
                            <li><a href="#">河北献县李先生、电话:130******88白酒净化器已发出</a> </li>
                            <li><a href="#">黑龙江呼兰黄先生、电话:132******08酒曲已发出</a> </li>
                            <li><a href="#">广东龙川罗先生、电话:135******33酒曲已发出</a> </li>
                            <li><a href="#">陕西汉中李先生、电话:153******31酒曲已发出</a> </li>
                            <li><a href="#">安徽亳州黄先生、电话:151******17白酒净化器已发出</a> </li>
                            <li><a href="#">山东寿光郭先生、电话:152******29酒曲已发出</a> </li>
                            <li><a href="#">吉林靖宇白先生、电话:159******18酒曲已发出</a> </li>
                            <li><a href="#">黑龙江东宁姚先生、电话:186******38酿酒设备、白酒净化器、酒曲已发出</a> </li>
                            <li><a href="#">河南长垣崔先生、电话:135******11酒曲已发出</a> </li>
                            <li><a href="#">河北隆化肖先生、电话:158******59酒曲已发出</a> </li>
                            <li><a href="#">黑龙江鸡西孙先生、电话:130******88酒曲已发出</a> </li>
                            <li><a href="#">辽宁大连李先生、电话:135******96酒曲已发出</a> </li>
                            <li><a href="#">黑龙江牡丹江李先生、电话:152******62酒曲已发出</a> </li>
                            <li><a href="#">河北丰宁贺先生、电话:139******92酒曲已发出</a> </li>
                            <li><a href="#">山西天镇王先生、电话:136******66酒曲已发出</a> </li>
                            <li><a href="#">吉林梅河口范先生、电话:133******97酒曲已发出</a> </li>
                            <li><a href="#">吉林珲春范先生、电话:130******22酒曲已发出</a> </li>
                            <li><a href="#">黑龙江拉林吴先生、电话:132******17酒曲已发出</a> </li>
                            <li><a href="#">吉林榆树齐先生、电话:186******38酿酒设备、白酒净化器、酒曲已发出</a> </li>
                            <li><a href="#">山西太原张先生、电话:135******24酒曲已发出</a> </li>
                            <li><a href="#">黑龙江五常梁先生、电话:151******09白酒净化器已发出</a> </li>
                            <li><a href="#">广东潮州刘先生、电话:157******02酒曲已发出</a> </li>
                            <li><a href="#">河北滦平冯先生、电话:185******31酒曲已发出</a> </li>
                            <li><a href="#">黑龙江萝北宋先生、电话:159******18酒曲已发出</a> </li>
                            <li><a href="#">吉林长春陈先生、电话:187******55酒曲已发出</a> </li>
                            <li><a href="#">黑龙江浩良河刘先生、电话:138******37酒曲已发出</a> </li>
                            <li><a href="#">河北玉田张先生、电话:139******86酒基已发出</a> </li>
                            <li><a href="#">河北黄骅高先生、电话:155******28酒曲已发出</a> </li>
                            <li><a href="#">黑龙江密山李先生、电话:139******71酒曲已发出</a> </li>
                            <li><a href="#">四川攀枝花黄先生、电话:134******19酒曲已发出</a> </li>
                            <li><a href="#">河南漯河刘先生、电话:139******19酒曲已发出</a> </li>
                            <li><a href="#">北京通州王先生、电话:184******53酒曲已发出</a> </li>
                            <li><a href="#">辽宁大连万先生、电话:139******97酒曲已发出</a> </li>
                            <li><a href="#">吉林榆树杨先生、电话:182******89酒曲已发出</a> </li>
                            <li><a href="#">黑龙江兰陵李先生、电话:130******09酒曲已发出</a> </li>
                            <li><a href="#">陕西商洛程先生、电话:183******00酒曲已发出</a> </li>
                            <li><a href="#">黑龙江通河岳先生、电话:150******42酒曲已发出</a> </li>
                            <li><a href="#">内蒙古赤峰姜先生、电话:152******88酒曲已发出</a> </li>
                        </ul>
                    </div>
                    <div id=mov2>

                    </div>
                    <SCRIPT>
                        var speed=60; //数字越大速度越慢
                        var tab0=document.getElementById("mov");
                        var tab01=document.getElementById("mov1");
                        var tab02=document.getElementById("mov2");
                        tab02.innerHTML=tab01.innerHTML;
                        function Marquee0(){
                            if(tab02.offsetHeight-tab0.scrollTop<=0)
                                tab0.scrollTop-=tab01.offsetHeight
                            else{
                                tab0.scrollTop++;
                            }
                        }
                        var MyMar0=setInterval(Marquee0,speed);
                        tab0.onmouseover=function() {
                            clearInterval(MyMar0)
                        };
                        tab0.onmouseout=function() {
                            MyMar0=setInterval(Marquee0,speed)
                        };
                    </SCRIPT>
                </div>
            </div>
        </div>
    </div>
</div>