<div class="con">
    <div class="con_left">
        <div class="top">
            <div class="gsjj">
                <div class="gsjj_title">
                    <ul>
                        <li class="left">公司简介</li>
                        <li class="right"></li>
                    </ul>
                </div>
                <div class="gsjj_pic">
                    <img src="<?php echo base_url('assets/images/'.$sysinfo[0]['pics']) ?>" alt="公司简介"width="272" height="86">

                </div>
                <div class="gsjj_con">
                    <?php echo chinesesubstr($sysinfo[0]['profile'],1,350)?>......<a href="<?php echo site_url('home/display/sysinfo/'.$sysinfo[0]['rowid']) ?>"> 更多>></a>
                </div>

            </div>
            <div class="xwdt">
                <div class="xwdt_title">
                    <ul>
                        <li class="left">新闻动态</li>
                        <li class="right"></li>
                    </ul>
                </div>
                <div class="gszz_pic">
                    <img src="<?php echo base_url('assets/images/gszz.gif') ?>" alt="新闻动态">

                </div>
                <div class="gsjj_con">
                    <h1 style="color: #00a2d4;font-size: 14px;">黑龙江省高新技术企业</h1>
                    <p>2015年10月，我公司正式成为黑龙省高新技术企业，使企业跨入了一个崭新的行列！</p>
                </div>
                <div class="xwdt_list">
                    <ul>
                        <?php foreach($news as $item):?>
                        <li>
                            <ul>
                                <li class="rec-left"><a href="<?php echo site_url('home/displayinfo/news/'.$item['rowid']) ?>"><?php echo $item['title']?></a> </li>
                                <li class="rec-right"><?php echo date('Y-m-d',$item['modDate'])?></li>
                            </ul>
                        </li>
                        <?php endforeach; ?>
                        <li>
                            <ul>
                                <li class="rec-left"></li>
                                <li class="rec-right"><a href="<?php echo site_url('home/news') ?>"> 更多>></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="middle">
            <ul>
                <li class="left">产品展示</li>
                <li class="right"><a href="<?php echo site_url('home/products') ?>"> 更多>></a></li>
            </ul>
            <div class="product-show">
                <div id=moov>
                    <div id=inmoov>
                        <div id=moov1>
                            <?php foreach($products as $item): ?>
                            <span class=xunhuan>
                                <a href="<?php echo site_url('home/displayinfo/products/'.$item['rowid'])?>">
                                    <img src="<?php echo base_url('assets/images/'.$item['pics'])?>" width=165 height=130>
                                </a><br><?php echo $item['title'] ?>
                            </span>
                            <?php endforeach;?>
                        </div>
                        <div id=moov2>

                        </div>
                        <SCRIPT>
                            <!--
                            var speed=30; //数字越大速度越慢
                            var tab=document.getElementById("moov");
                            var tab1=document.getElementById("moov1");
                            var tab2=document.getElementById("moov2");
                            tab2.innerHTML=tab1.innerHTML;
                            function Marquee(){
                                if(tab2.offsetWidth-tab.scrollLeft<=0)
                                    tab.scrollLeft-=tab1.offsetWidth
                                else{
                                    tab.scrollLeft++;
                                }
                            }
                            var MyMar=setInterval(Marquee,speed);
                            tab.onmouseover=function() {
                                clearInterval(MyMar)
                            };
                            tab.onmouseout=function() {
                                MyMar=setInterval(Marquee,speed)
                            };
                            -->
                        </SCRIPT>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <li class="left">精选案例</li>
                <li class="right"><a href="<?php echo site_url('home/cases') ?>"> 更多>></a></li>
            </ul>
            <div class="selected-cases">
                <div id=moovk>
                    <div id=inmoovk>
                        <div id=moovk1>
                            <?php foreach($cases as $item): ?>
                            <span class=xunhuan>
                                <a href="<?php echo site_url('home/displayinfo/cases/'.$item['rowid'])?>">
                                    <img src="<?php echo base_url('assets/images/'.$item['pics'])?>" width=165 height=130>
                                </a><br><?php echo $item['title'] ?>
                            </span>
                            <?php endforeach;?>
                        </div>
                        <div id=moovk2>

                        </div>
                        <script>
                            <!--
                            var speed=30; //数字越大速度越慢
                            var tabk=document.getElementById("moovk");
                            var tabk1=document.getElementById("moovk1");
                            var tabk2=document.getElementById("moovk2");
                            tabk2.innerHTML=tabk1.innerHTML;
                            function Marqueek(){
                                if(tabk2.offsetWidth-tabk.scrollLeft<=0)
                                    tabk.scrollLeft-=tabk1.offsetWidth
                                else{
                                    tabk.scrollLeft++;
                                }
                            }
                            var MyMark=setInterval(Marqueek,speed);
                            tabk.onmouseover=function() {
                                clearInterval(MyMark)
                            };
                            tabk.onmouseout=function() {
                                MyMark=setInterval(Marqueek,speed)
                            };
                            -->
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="con_right">
        <div class="deliver-title">
            <ul>
                <li style="width: 60px;height: 30px;line-height:30px;background-color: #0767b1;text-align: center">最近发货</li>
                <li style="width: 40px;height: 30px;line-height: 30px;text-align: center;float: right"><a href="<?php echo site_url('home/delivers') ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="deliver-list">
            <div id=mov>
                <div id=inmov>
                    <div id=mov1>
                        <ul>
                            <?php
                             foreach($delivers as $item):
                                $phoneNo=$item['phoneNo'];
                                if(strlen($phoneNo)>=11){
                                        $phoneNo=substr($phoneNo,0,4).'****'.substr($phoneNo,8);
                                      }else {
                                        $phoneNo=substr($phoneNo,0,6).'****';
                                      }
                                      $status=$item['status'];
                                      if($status==1){
                                        $status='已发货';
                                      }else{
                                        $status='待发货';
                                      }
                                    $clientName= chinesesubstr($item['clientName'],0,1).$item['sex'];
                                    $Str=$item['province'].$item['city'].$clientName.'、电话:'.$phoneNo.$item['goodsName'].$status;
                            ?>
                            <li><?php echo $Str?></li>
                            <?php  endforeach;?>

                        </ul>
                    </div>
                    <div id=mov2>

                    </div>
                    <SCRIPT>
                        var speed=60; //数字越大速度越慢
                        var tab0=document.getElementById("mov");
                        var tab01=document.getElementById("mov1");
                        var tab02=document.getElementById("mov2");
                        tab02.innerHTML=tab01.innerHTML;
                        function Marquee0(){
                            if(tab02.offsetHeight-tab0.scrollTop<=0)
                                tab0.scrollTop-=tab01.offsetHeight
                            else{
                                tab0.scrollTop++;
                            }
                        }
                        var MyMar0=setInterval(Marquee0,speed);
                        tab0.onmouseover=function() {
                            clearInterval(MyMar0)
                        };
                        tab0.onmouseout=function() {
                            MyMar0=setInterval(Marquee0,speed)
                        };
                    </SCRIPT>
                </div>
            </div>
        </div>
    </div>
</div>