<div class="banner">
    <div class="logo"></div>
    <div class="left"></div>
    <div class="right"><?php echo isset($sysinfo) ?$sysinfo[0]['servphone']:'' ?></div>
</div>
<div class="nav" >
    <ul id="jsddm">
        <li><a href="<?php echo site_url()?>">网站首页</a> </li>
        <li><a href="<?php echo site_url('home/about')?>">关于我们</a>
            <ul>
                <?php foreach($about as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid'])
                ?>
                    <li><a href="<?php echo $url?>"><?php echo $item['Title']?></a> </li>
                <?php endforeach;?>
            </ul>
        </li>
        <li><a href="<?php echo site_url('home/productscenter')?>">产品中心</a>
            <ul>
                <?php foreach($products_center as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid'])
                ?>
                <li><a href="<?php echo $url?>"><?php echo $item['Title']?></a> </li>
                <?php endforeach;?>
            </ul>
        </li>
        <li><a href="<?php echo site_url('home/cases')?>">精选案例</a>
            <ul>
                <?php foreach($selectedcases as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid'])
                ?>
                <li><a href="<?php echo $url?>"><?php echo $item['Title']?></a> </li>
                <?php endforeach;?>
            </ul>
        </li>
        <li><a href="<?php echo site_url('home/newscenter')?>">新闻中心</a>
            <ul>
                <?php foreach($newscenter as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid'])
                ?>
                <li><a href="<?php echo $url?>"><?php echo $item['Title']?></a> </li>
                <?php endforeach;?>
            </ul>
        </li>
        <li><a href="<?php echo site_url('home/technology')?>">研发技术</a>
            <ul>
                <?php foreach($technology as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid'])
                ?>
                <li><a href="<?php echo $url?>"><?php echo $item['Title']?></a> </li>
                <?php endforeach;?>
            </ul></li>
        <li style="width: 141px"><a href="<?php echo site_url('home/contact')?>">联系我们</a>
            <ul>
                <?php foreach($contact as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid'])
                ?>
                <li><a href="<?php echo $url?>"><?php echo $item['Title']?></a> </li>
                <?php endforeach;?>
            </ul>
        </li>
    </ul>
</div>
