<div class="show-con">
    <div class="show-left">
        <div class="show-title">
            <ul>
                <li >新闻中心</li>
                <li >News Center</li>
            </ul>
        </div>
        <div class="project">
            <ul>
                <?php foreach($projects as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid']);
                $curitem=($newstype=='company') ?'公司新闻':'行业新闻';
                ?>
                    <a href="<?php echo $url?>" <?php if($curitem==$item['Title']) echo 'style="color:#FF0000"'?>>
                        <li class="project-title">
                            <?php echo $item['Title'] ?>
                        </li>
                    </a>
                <?php endforeach;?>
            </ul>
        </div>

    </div>
    <div class="show-right">
        <ul>
            <li style="width: 730px;height: 30px;line-height: 30px;background-color: #D0D0D0 ">
                <div style="width: 630px;float: left">标题</div>
                <div style="width: 100px;float: left">发表时间</div>
            </li>
            <?php foreach($info as $item):?>
            <li style="width: 730px;height: 22px;line-height: 20px;">
                <span style="width: 630px;float: left"><a href="<?php echo site_url('home/displayinfo/'.$tablename.'/'.$item['rowid']) ?>"><?php echo $item['title']?></a> </span>
                <span style="width: 100px;float: left"><?php echo date('Y-m-d',$item['modDate'])?></span>
            </li>
            <?php endforeach;?>
            <li class="rec">
                <div class="total">共 <?php echo $total_rows ?> 条 显示第 <?php echo isset($cur_page) ?$cur_page:1 ?> 页 <?php echo $offset ?> 条</div>
                <div class="pages"><?php echo $links ?></div>
            </li>
        </ul>
    </div>
</div>