<div class="show-con">
    <div class="show-left">
        <div class="show-title">
            <ul>
                <li ><?php echo $TypeName ?></li>
                <li ><?php echo $TypeEName ?></li>
            </ul>
        </div>
        <div class="project">
            <ul>
                <?php foreach($projects as $item):
                $type=$item['Type'];
                $url=($type=='proc')? site_url('home/'.$item['Content']):site_url('home/'.$item['Class'].'/'.$item['rowid']);
                $curitem=isset($curitem) ?$curitem:'';
                ?>
                    <a href="<?php echo $url?>" <?php if($curitem==$item['Title']) echo 'style="color:#FF0000"'?>>
                        <li class="project-title">
                            <?php echo $item['Title'] ?>
                        </li>
                    </a>
                <?php endforeach;?>
            </ul>
        </div>

    </div>
    <div class="show-right">
        <div class="article-title">
            <h1 style="height: 35px;line-height: 35px; font-size: 16px;margin-top: 0px;color: #0767b1;padding-left: 20px"><?php echo (isset($ContentTitle))? $ContentTitle:''?></h1>
            <p style="padding-left: 0px">
                <?php echo (isset($Content))? $Content:''?>
            </p>
        </div>

    </div>
</div>